<header>
  <nav class="navbar navbar-dark navbar-brasscombo sticky-top">
    <div class="container justify-content-center">
      <ul class="navbar-nav mb-0">
        {% for item in site.data.navigation %}
          {% assign item_path = item.url | relative_url %}
          <li class="nav-item">
            <a class="nav-link {% if page.url == item.url %}active{% endif %}"
               href="{{ item_path }}"
               {% if page.url == item.url %}aria-current="page"{% endif %}>
              <i class="fa-solid {{ item.icon }} me-1" aria-hidden="true"></i>
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
